.recorder {
    display: flex;
    justify-content: space-evenly;
    background-color: lightslategrey;
    
    &__btn {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        // float: right;
    }
}
