.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 -2px 10px 0 grey;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: turquoise;
        flex-grow: 1;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        letter-spacing: 3px;
    }
}
