.offset-display {
    width: 100%;
    padding: 0 10%;
    
    .row {
        width: 100%;
        max-width: 400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    &__save-btn {
        border: none;
        background-color: turquoise;
        border-radius: 10px;
        padding: 5px;
        margin: 10px auto;
        box-shadow: 0 0 10px 2px grey;
    }
}