* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

.page-wrapper {
    position: relative;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.app-container {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    position: relative;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
    margin: auto;

    @media screen and (orientation: landscape) {
        min-height: 500px;
    }
}

.display-selected-watch {
    display: flex;

    p,
    strong {
        display: block;
        margin: 10px;
    }

    strong {
        margin-left: 0;
    }
}

.row {
    display: flex;
}
