.settings {
    width: 100%;
    max-width: 600px;
    margin: auto;

    .row {
        width: 100%;
        justify-content: space-between;
        padding: 5px 30px;
        display: flex;
    }

    input,
    textarea {
        // width: auto;
        flex-grow: 1;
        border: none;
        border-radius: none;
        resize: none;
        outline: none;
        border-bottom: 1px solid grey;

        &:focus {
            background-color: rgba(skyblue, 0.2);
        }
    }

    label {
        text-transform: uppercase;
        font-size: 14px;
        width: 130px;
    }

    &__heading {
        text-align: center;
    }
}
